vendor/
.env
.env.*
/.idea/
/.vscode/
composer.lock
node_modules/
*.log
*.cache
/.DS_Store
/.phpunit.result.cache
/.coverage
/.build/
/.phpunit.cache
/.phpunit/
/.php_cs.cache
/.php_cs
/.phpstorm.meta.php
/.gitattributes
/.gitmodules
/.github/
